<!-- begin c-hero -->
<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <!-- <h1 class="hero__title" style="white-space: nowrap;">{{ site.data.settings.author.say-hello }}</h1> -->
          <div class="hero__subtitle">
            {% if site.data.settings.author.bio_markdown %}
              {% capture author_bio %}{% include {{ site.data.settings.author.bio_markdown }} %}{% endcapture %}
              {{ author_bio | markdownify }}
            {% else %}
              {{ site.data.settings.author.bio }}
            {% endif %}
          </div>
          <div class="hero__social">
            <!-- <span class="hero__social-title">We are hiring |</span> -->
            <!-- {% include contact-link.html %} -->
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/{{ site.data.settings.author.image }}" alt="">
        </div>
      </div>
      {% if site.data.settings.author.bio2_markdown %}
        <div class="col col-12">
          <div class="hero__bio-full">
            {% capture author_bio2 %}{% include {{ site.data.settings.author.bio2_markdown }} %}{% endcapture %}
            {{ author_bio2 | markdownify }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- end hero -->
