---
layout: default
---
<div class="container">
	<div class="page-title-box">
		<div class="row">
			<div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
				<h1 class="page-title">{{ page.title | escape }}</h1>
			</div>
		</div>
	</div>

	{% if page.image %}
	<div class="page__head" style="max-width: 700px;
	 			margin: 0 auto; padding: 0px;">
		<div class="page-image" style="background-image: url({{site.baseurl}}/images/{{page.image}});
		 width: 70%; height: 70%;
		 background-position: calc(50% + 0px) calc(50% + 120px);
		 background-size: cover;
		 margin: 0 auto;"></div>
	</div>
	{% endif %}
</div>

<div class="container">
	<div class="row">
		<!-- begin page -->
		<article class="page col col-8 col-t-10 col-m-12">
			<div class="page__content" style="text-align: justify;">
				{{ content }}
				<div style="display: inline-flex; align-items: center;">
			    <strong style="margin-right: -5px;"> Google Scholar |</strong>
			    <span style="display: inline-block;">{% include contact-link.html %}</span>
			  </div>
			</div>
		</article>
		<!-- end page -->
	</div>
</div>
